h1{
    color: #003366 !important; 
}

.contactButton{
  background-color:rgb(118, 166, 208)!important;
  color: white !important;
  border-color: white;
}

.contactButton:active{
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.logoContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.logoImage{
  height: 300px;
  width: 300px;
} 