body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-brand {
    color: #003366 !important; 
  }

  .nav-item:hover{
   color:rgb(118, 166, 208);
  }

  .headHolder{
    background-color: rgb(118, 166, 208);
    border: solid 2px black;
    border-radius: 5px;
  }
  
  .jumbotron {
    background-image: url('../img/home-banner.jpg');
    background-size: cover;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; 
  }
  h1, h2 {
    color: #003366;
  }
  
  .lead{
    font-weight: 700;
  }

  footer {
    background-color: #333333;
    color: white;
  }
  
  .btn-primary {
    background-color: rgb(118, 166, 208); 
    border-color: #003366; 
    margin-bottom: 20px;
  }

  .footerLink{
    text-decoration: none;
    color: white;
    margin-right:10px;
    padding-bottom: 15px;
  }

  .footerLink:hover{
    color: rgb(118, 166, 208);
  }
  